.App {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(58, 71, 90);
}

button:active {
  background-color: cornflowerblue;
}

.search {
  margin: 10px 5%;
}


.image-card {
  margin: 20px 10px;
}
